<div class="center jumbotron">
  <h1>SIMPLE TODO LISTS</h1>
  <br>
  <br>
  <% @user.projects.each do |project| %>
    <div class="row" id="project-header-row">
      <div class="col-md-1"><span class="glyphicon glyphicon-calendar" id="project-calendar-icon"></span></div>
      <div class="col-md-9 white" id="project-name-cell">
        <%= project.name %>
      </div>
      <div class="col-md-1 edit-icons">
        <%= link_to "<span class='glyphicon glyphicon-pencil white hides'></span>".html_safe, edit_user_project_path(@user, project) %>
      </div>
      <div class="col-md-1 edit-icons" id="project-delete-icon">
        <%= link_to "<span class='glyphicon glyphicon-trash white hides'></span>".html_safe, [@user, project], method: :delete,
                    remote: true, data: {confirm: "Are you sure?"} %>
      </div>
    </div> <!-- div class="row" -->

    <div class="row" id="add-task-row">
      <div class="col-md-1" id="task-glyphicon-plus">
        <span class="glyphicon glyphicon-plus"></span>
      </div>
      <%= form_with(url: project_tasks_path(project), remote: true) do |f| %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control', placeholder: "Start typing here to create a task..." %>
        </div>
        <div class="col-md-2">
          <%= f.submit "Add Task", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
    <div class="row"></div>

    <% project.tasks.each do |task| %>
      <div class="row" id="task-row">
        <div class="col-md-1">
          <%= check_box_tag 'status', task.id, task.status,
                            data: {
                                remote: true,
                                url: toggle_project_task_path(project, task),
                                method: "PATCH"
                            } %>
        </div>
        <div class="col-md-8" id="task-name-cell"><%= task.name %></div>
        <div class="col-md-1" id="task-move-icon"><span class="glyphicon glyphicon-move hides"></span></div>
        <div class="col-md-1" id="task-edit-icon">
          <%= link_to "<span class='glyphicon glyphicon-pencil hides'></span>".html_safe, edit_project_task_path(project, task) %>
        </div>
        <div class="col-md-1" id="task-delete-icon">
          <%= link_to "<span class='glyphicon glyphicon-trash hides'></span>".html_safe, [project, task],  method: :delete, remote: true %>
        </div>
      </div>
      <br>
      <br>
    <% end %>
  <% end %>
  <%= link_to '<button type="button" class="btn btn-lg btn-primary" id="todo-button">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong> Add TODO List</strong>
  </button>'.html_safe, new_user_project_path(@user)%>
</div>